.pig {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: clamp(200px, 35vw, 400px); // Scales dynamically
  height: auto;
  cursor: pointer;
  aspect-ratio: 1 / 1; // Ensures a square shape

  & img.pigs {
    width:100%;
    height: 100%;
    max-width: 400px;
    border-radius: 20px;
    object-fit: cover;
  }
}

button {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;

  .play-stop {
    width: clamp(30px, 4vw, 45px); // Adjusts size dynamically
  }

  &:hover {
    transform: scale(1.05);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .pig {
    width: clamp(200px, 35vw, 400px); // Scales dynamically

    & img.pigs {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 768px) {
  .pig {
    width: clamp(160px, 35vw, 400px);
  }
}
