<div class="pig">
  <img
    [src]="pigImage$ | ngrxPush"
    alt="napoleon"
    [@fadeAnimation]="animationState$ | ngrxPush"
    (click)="click()"
    class="pigs"
  />
  @if ((currentPigStatus$ | ngrxPush) !== 'happy') {
  <button>
    @if ((loading$ | ngrxPush)) {
    <mat-progress-spinner
      mode="indeterminate"
      [diameter]="50"
      [strokeWidth]="6"
      class="custom-spinner"
      [style.stroke]="'white'"
    >
    </mat-progress-spinner>
    } @else {
    <img
      (click)="isPlaying ? stop() : playMusic()"
      [src]="isPlaying ? 'music/icons/stop.png' : 'music/icons/play.png'"
      alt="Play/Stop"
      class="play-stop"
    />
    }
  </button>
  }
</div>
