.pig {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 400px;
  cursor: pointer;
}

.pigs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

button {
  z-index: 10000;
  position: absolute;
  bottom: 0px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;

  .play-stop {
    width: 45px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 1024px) {
  .pig {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .pig {
    width: 150px;
    height: 150px;
  }
}
