<div class="animal">
  <img
    [src]="'animals/' + name() + '.png'"
    [alt]="name()"
    class="animal__image"
  />
  <div class="animal__info">
    Thanks Count :
    <span class="animal__info--count">
      @if (loadingFeedAnimalById() === id()) {
      <mat-progress-spinner
        mode="indeterminate"
        class="custom-spinner"
        [style.stroke]="'white'"
      ></mat-progress-spinner>
      } @else {
      <span class="animal__info--thanksCout-value">{{ thanksCount() }}</span>
      }
    </span>
    <img
      [src]="'food/' + food() + '.png'"
      [alt]="name()"
      class="animal__info--food"
      (click)="onFeed()"
      [class.disabled]="disableFeedComputed()"
    />
  </div>
</div>
