<div class="animal">
  <img
    [src]="'animals/' + name() + '.png'"
    [alt]="name()"
    [class.disabled]="(disableFeed$ | ngrxPush) === true"
    class="animal__name"
  />
  <div class="animal__info">
    Thanks Count :
    <span class="animal__info--thanksCout">
      @if ((loadingAnimalId$|ngrxPush )=== id()) {
      <mat-progress-spinner
        mode="indeterminate"
        [style.stroke]="'white'"
      ></mat-progress-spinner>
      } @else {
      <span class="animal__info--thanksCout-value">{{ thanksCount() }}</span>
      }
    </span>
    <img
      [src]="'food/' + food() + '.png'"
      [alt]="name()"
      class="animal__info--food"
      (click)="feedAnimal()"
      [class.disabled]="disableFeedComputed$ | ngrxPush"
    />
  </div>
</div>
