.animal {
  max-width: clamp(130px, 25vw, 180px);
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 400;
  color: rgb(213, 213, 213);

  &__image {
    max-width: clamp(100px, 22vw, 170px);
    object-fit: cover;
    border-radius: 10px;
    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &--count {
      font-weight: bold;
      font-size: inherit;
    }

    &--food {
      cursor: pointer;
      width: clamp(10px, 2vw, 25px);
      &.disabled {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}
.custom-spinner {
  width: clamp(12px, 2vw, 17px) !important;
  height: clamp(12px, 2vw, 17px) !important;
}
