.cont {
  display: flex;
  justify-content: space-between;
  &__animals {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__napoleon {
    display: flex;
    align-items: center;
    img {
      width: 400px;
    }
  }
}
