.cont {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  &__animals {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__napoleon {
    display: flex;
    align-items: center;
  }
}

// @media (max-width: 1024px) {
//   .cont {
//     &__animals {
//       gap: 65px;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .cont {
//     &__animals {
//       gap: 60px;
//     }
//   }
