@if (animals$| ngrxPush; as animal) {
<div class="cont">
  <div class="cont__animals">
    @for (item of animal.slice(0,3); track item) {
    <app-animal-card
      [thanksCount]="item.thanksCount"
      [name]="item.name"
      [food]="item.foodType"
      [id]="item._id"
      (feed)="onFeedAnimal($event)"
      [loadingFeedAnimalById]="loadingFeedAnimalById$ | ngrxPush"
      [disableFeedComputed]="disableFeedComputed$ | ngrxPush"
    />
    }
  </div>
  <div class="cont__napoleon">
    <app-pig-interaction [pigStatus$]="pigstatus$"  />
  </div>
  <div class="cont__animals">
    @for (item of animal.slice(3,6); track item) {
    <app-animal-card
      [thanksCount]="item.thanksCount"
      [name]="item.name"
      [food]="item.foodType"
      [id]="item._id"
      (feed)="onFeedAnimal($event)"
      [loadingFeedAnimalById]="loadingFeedAnimalById$ | ngrxPush"
      [disableFeedComputed]="disableFeedComputed$ | ngrxPush"
    />
    }
  </div>
</div>
} @if (feedAnimalsuccess$|ngrxPush;as success) { }

@if( error$  | ngrxPush; as error){
  {{ showError(error) }}
}