.cont {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  &__animals {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__napoleon {
    display: flex;
    align-items: center;
  }
}
