:host {
  .cont {
    padding: 20px 100px;
    margin: 0;
  }
}
@media (max-width: 1024px) {
  :host {
    .cont {
      padding: 50px 55px;
    }
  }
}

@media (max-width: 768px) {
  :host {
    .cont {
      padding: 110px 0;
    }
  }
}
