// /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(61, 17, 17);
  font-family: system-ui, sans-serif;
  user-select: none;
}
.popup {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%) !important;
  font-size: 18px;
  text-align: center;
  max-height: 45px;
  border-radius: 8px;
  font-weight: 700;
}

.success {
  background-color: #424242;
  color: #d5d5d5;
}


.error{
  background: rgb(168, 5, 5);
  color: white;

}

@media (max-width: 600px) {
  .popup {
    top: 0;
    font-size: 14px;
    max-height: 35px;
  }

  .mat-mdc-snack-bar-handset .mat-mdc-snack-bar-container {
    width: 190px !important;
  }
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  min-width: 260px !important;
  box-shadow: none !important;
}
